version: "3"
services:
  hmpps-one-login-user-registry:
    build:
      context: .
    network_mode: "host"
    container_name: hmpps-one-login-user-registry
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - SYSTEM_CLIENT_ID=book-a-prison-visit-client
      - SYSTEM_CLIENT_SECRET=clientsecret
      - SPRING_DATASOURCE_URL=jdbc:postgresql://one_login_user_registry-db:5432/one_login_user_registry

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/auth/health" ]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  visit-scheduler-db:
    image: postgres:15.5
    networks:
      - hmpps
    container_name: one_login_user_registry-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=one_login_user_registry
      - POSTGRES_USER=one_login_user_registry
      - POSTGRES_DB=one_login_user_registry

networks:
  hmpps:
