---
# Per environment values which override defaults in hmpps-prison-visit-booker-registry/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: hmpps-prison-visit-booker-registry-preprod.prison.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    PRISONER_SEARCH_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    VISIT-SCHEDULER_API_URL: https://visit-scheduler-preprod.prison.service.justice.gov.uk
    FEATURE_EVENTS_SNS_ENABLED: true

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: visits-alerts-nonprod
